.c-nav__menu {
    margin-top: -1px;
    left: 0;
    top: 67px;
    z-index: 9999;
    position: fixed;

    .c-nav__item {
        height: 40px;
        font-size: 1.6rem;
        font-weight: 400;
        background-image: url("/assets/img/bg_menuitem.png");
        padding: 9px 33px 0 20px;
        letter-spacing: 2px;
        color: #fff;
        transition: opacity 0.3s;
   

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    
    .c-nav__item:not(:last-child) {
        margin-bottom: 14px;
    }
    
    .c-nav__item:nth-child(2) {
        margin-bottom: 16px;
        letter-spacing: 1.6px;
    }
    
    .c-nav__item:nth-child(4) {
        margin-bottom: 16px;
        padding-top: 7px;
    }

    .is-active {
        opacity: 0.7;
    }
    @include sp {
        display: none;
    }
}

.c-header__spnav {
    position: fixed;

    .c-spnav__menu {
        text-align: center;
        
    }

    .c-spnav__item {
        font-size: 2rem;
        font-weight: 400;
        color: #fff;
        font-size: 2rem;
        line-height: 4;
        letter-spacing: 1.8px;
        border-bottom: 1px solid #3a5656;
    }

    .c-spnav__leaftop {
        width: 160px;
        position: absolute;
        top: -8.5%;
        left: 0;
    }

    .c-spnav__leafright {
        width: 180px;
        position: absolute;
        top: 40.5%;
        right: 0;
    }

    .c-header__menuiconwhite {
        width: 45px;
        
    }

}

.is-show {
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: url("assets/img/sp/background.jpg") repeat;
    z-index: 10000;
}
