//LEAF SECTION

.c-leaf__topleaf {
    position: absolute;
    left: 35.8%;
    top: 0;
    z-index: 99;
}

.c-leaf__sideleaf {
    position: absolute;
    right: 0;
    top: 5.77%;
    z-index: 99;
}
