//LEAF SECTION

.c-leaf__topleaf {
    position: fixed;
    left: 35.8%;
    top: 0;
    z-index: 99;
    transition: all 1s;

}

.c-leaf__sideleaf {
    position: fixed;
    right: 0;
    top: 50.4%;
    z-index: 99;
    transition: all 1s;

}

.c-leaf__animationy {
    transform: translateY(-50px);
}

.c-leaf__animationx {
    transform: translateX(50px);


}
