//MAINVISUAL SECTION
#c-mainvisual {
    background-color: #fff;
    position: relative;
    padding-top: 100px;
    padding: 100px 20px 0;
    width: 100%;

    .c-mainvisual__inner {
        background: url("/assets/img/bg_main.png") no-repeat;
        background-position: bottom;
        max-width: 112rem;
        margin: 0 auto;
        padding: 100px 0 60px 173px;
        border-radius: 60px;
        background-size: cover;

        
    }

    .c-mainvisual__content {
        width: fit-content;
        text-align: center;

        .c-mainvisual__title {
            font-size: 3.75rem;
            font-weight: 900;
            margin-left: -2px;
        }
    
        .c-mainvisual__text {
            font-size: 1.6rem;
            line-height: 2.5rem;
            margin-top: 33px;
            letter-spacing: 1.6px;
            font-weight: 400;
            color: #000;
        }
    
        .c-mainvisual__text--strong {
            display: block;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 3px;
            margin-top: 10px;
            color: #000;
        }

        .c-mainvisual__text--fixspacing1 {
            letter-spacing: 1.95px;
            margin-left: -6px;
        
        }

        .c-mainvisual__text--fixspacing2 {
            letter-spacing: 6.9px;
            margin-left: -6px;
        
        }

        .c-mainvisual__btn {
            display: block;
            font-size: 2.4rem;
            font-weight: 400;
            color: #fff;
            background-color: #25a989;
            border-radius: 27.5px;
            margin-top: 30px;
            letter-spacing: 6px;
            width: fit-content;
            margin-left: 8px;
            margin-right: -8px;
            padding: 25px 30px 25px 38px;
            line-height: 0.2;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }

    }


        
}
