#c-product {
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 112rem;
    margin-bottom: 175px;
}

.c-product__title {
    font-weight: 400;
    font-size: 4.6rem;
    color: #000;
    letter-spacing: 9.2px;
    padding-top: 43px;
    line-height: 1.07;
}

.c-product__title--small {
    font-size: 2rem;
    letter-spacing: 2px;
    padding-right: 8px;
}

.c-product__list {
    display: flex;
    padding-left: 10px;

    .c-product__item {
        display: flex;
        justify-content: center;

        &:nth-child(1) {
            width: 150px;
            margin-left: 54px;
            margin-top: -3px;
            position: relative;

            .c-product__name {
                margin-bottom: 47px;
                letter-spacing: 1.5px;
                margin-left: -2px;
            }

            &::before {
                position: absolute;
                top: -54px;
                left: -36px;
                content: "";
                background: url("/assets/img/dailylabel.png") no-repeat;
                background-size: contain;
                width: 154px;
                height: 36px;
                background-position: center;
                pointer-events: none;
            }
        }

        &:nth-child(2) {
            width: 255px;
            margin-left: 0.7%;
            margin-top: 2%;
            margin-bottom: -4%;

            .c-product__name {
                margin-bottom: 27px;
                letter-spacing: 1.5px;
                margin-left: -11px;
            }
                
        }

        &:nth-child(3) {
            width: 350px;
            margin-left: -6px;
            margin-top: 20px;
            margin-bottom: -4%;

            .c-product__name {
                letter-spacing: 1.5px;
                margin-bottom: 25px;
                margin-left: -5px;
                margin-right: 5px;
            }
                
        }

        &:nth-child(4) {
            width: 290px;
            margin-top: -3.6%;
            margin-bottom: -4%;
            margin-left: -3px;
            position: relative;
            
            .c-product__name {
                letter-spacing: 1.5px;
                margin-bottom: 9px;
                margin-left: -11px;
                margin-right: 11px;
                padding-left: 18px;
            }

            &::before {
                position: absolute;
                top: -18px;
                right: 178px;
                content: "";
                background: url("/assets/img/dailylabel.png") no-repeat;
                background-size: contain;
                width: 154px;
                height: 36px;
                background-position: center;
                pointer-events: none;
            }
                
        }

        .c-product__img {
            object-fit: none;
        }

        .c-product__name {
            font-size: 1.4rem;
            font-weight: 400;
            color: #333;
            align-self: center;
            border-bottom: 1px solid #636363;
            border-style: dotted;
            padding-left: 10px;
            padding-bottom: 5px;
        }
    }
    @include sp {
        flex-wrap: wrap;
    }
}

.c-product__list--bottom {
    padding-left: 10px;

    .c-product__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: #333;
        align-self: center;
        border-bottom: 1px solid rgb(73, 73, 73);
        border-style: dotted;
        padding-left: 10px;
        padding-bottom: 5px;
        
    }

    .c-product__img {
        object-fit: none;
    }
    margin-top: 124px;
    display: flex;

    .c-product__item {
        display: flex;

        &:nth-child(1) {
            margin-left: 82px;
            margin-right: -92px;

            .c-product__name {   
                margin-bottom: 46px;
                letter-spacing: 1.5px;
                margin-left: -10px;
            }
        }

        &:nth-child(2) {
            margin: 44px 0 -37px 106px;
            position: relative;

            .c-product__name {
                margin-bottom: -32px;
                letter-spacing: 1.5px;
                margin-left: -54px;
                padding-left: 42px;
                width: 140px;
            }

            &::before {
                position: absolute;
                top: -53px;
                left: 2px;
                content: "";
                background: url("/assets/img/recommend.png") no-repeat;
                background-size: contain;
                width: 117px;
                height: 67px;
                background-position: center;
                pointer-events: none;
                
            }
        }

        &:nth-child(3) {
            flex-direction: row-reverse;
            margin: -3px 0 -36px -14px;

            .c-product__name {
                margin-bottom: 43px;
                letter-spacing: 1.5px;
                margin-right: -20px;
                padding-right: 0;
                width: 140px;
                text-align: left;
            }
        }

        &:nth-child(4) {
            flex-direction: row-reverse;
            margin: -170px 0 -34px -41px;

            .c-product__name {
                margin-bottom: 43px;
                letter-spacing: 1.5px;
                margin-right: -56px;
                padding-left: 0;
                padding-right: 0;
                width: 230px;
                text-align: left;
            }
        }
    }
    @include sp {
        flex-wrap: wrap;
    }
}

