#c-product {
    text-align: center;
    position: relative;
    max-width: 112rem;
    margin-top: 40px;
    margin: 0 auto;
    height: 650px;

    .c-product__title {
        font-weight: 400;
        font-size: 4.6rem;
        color: #000;
        letter-spacing: 9.2px;
        margin-top: 60px;
        line-height: 40px;
    }

    .c-product__title--small {
        font-size: 2rem;
        letter-spacing: 2px;
        padding-right: 8px;
    }

    .c-product__list {
        display: flex;
        flex-wrap: wrap;
    }

    .c-product__item {
        width: fit-content;
        display: flex;
        justify-content: center;

        &:nth-child(1) {
            width: 150px;
            margin-left: 5.85%;
        
            .c-product__name {
                margin-bottom: 47px;
                line-height: 31px;
                letter-spacing: 1.5px;
                margin-left: -2px;
            }

            &::before {
                position: absolute;
                top: 8.3%;
                left: 9.2%;
                content: "";
                background: url("/assets/img/dailylabel.png") no-repeat;
                background-size: contain;
                width: 154px;
                height: 36px;
                transform: translate(-48.5%, -42.5%);
                background-position: center;
                pointer-events: none;
            }
        }

        &:nth-child(2) {
            width: 255px;
            margin-left: 0.7%;
            margin-top: 2%;
            margin-bottom: -4%;

            .c-product__name {
                margin-bottom: 27px;
                line-height: 30px;
                letter-spacing: 1.5px;
                margin-left: -11px;
            }
            
        }

        &:nth-child(3) {
            width: 350px;
            margin-left: -0.7%;
            margin-top: 2.4%;
            margin-bottom: -4%;
        

            .c-product__name {
                line-height: 30px;
                letter-spacing: 1.5px;
                margin-bottom: 30px;
                margin-left: -5px;
                margin-right: 5px;
            }
            
        }

        &:nth-child(4) {
            width: 290px;
            margin-top: -3.6%;
            margin-bottom: -4%;
            margin-left: -3px;
        
        
            .c-product__name {
                line-height: 30px;
                letter-spacing: 1.5px;
                margin-bottom: 9px;
                margin-left: -11px;
                margin-right: 11px;
                padding-left: 18px;
            }

            &::before {
                position: absolute;
                top: 8.3%;
                right: 10.3%;
                content: "";
                background: url("/assets/img/dailylabel.png") no-repeat;
                background-size: contain;
                width: 154px;
                height: 36px;
                transform: translate(-48.5%, -42.5%);
                background-position: center;
                pointer-events: none;
            }
            
        }

        &:nth-child(5) {
            width: 250px;
            margin-top: 11.1%;
            margin-bottom: -4%;
            margin-left: 6.9%;
        
        
            .c-product__name {
                line-height: 30px;
                letter-spacing: 1.5px;
                margin-bottom: 42px;
                margin-left: -9px;
                margin-right: 9px;
                padding-left: 9px;
            }
        }

        &:nth-child(6) {
            width: 250px;
            margin-top: 15.1%;
            margin-bottom: -8%;
            margin-left: -1.4%;
        
            .c-product__name {
                line-height: 30px;
                letter-spacing: 1.5px;
                margin-bottom: -30px;
                margin-left: -64px;
                padding-left: 41px;
            }

            &::before {
                position: absolute;
                bottom: 31.2%;
                left: 33.8%;
                content: "";
                background: url("/assets/img/recommend.png") no-repeat;
                background-size: contain;
                width: 117px;
                height: 67px;
                transform: translate(-48.5%, -42.5%);
                background-position: center;
                pointer-events: none;
            }
        }

        &:nth-child(7) {
            flex-direction: row-reverse;
            width: 250px;
            margin-top: 11.1%;
            margin-bottom: -7.5%;
            margin-left: -0.1%;
            
            .c-product__name {
                line-height: 30px;
                letter-spacing: 1.5px;
                padding-left: 0;
                margin-right: -19%;
                padding-right: 24px;
                margin-left: -2px;
                margin-top: -45px;
            }
            
        }

        &:nth-child(8) {
            flex-direction: row-reverse;
            width: 300;
            margin-top: -3.9%;
            margin-bottom: -7.5%;
            margin-left: 3.9%;
        
            
            .c-product__name {
                line-height: 30px;
                letter-spacing: 1.5px;
                padding-left: 0;
                margin-right: -24%;
                padding-right: 44px;
                margin-left: -103px;
                margin-top: -51px;
            }
            
        }

        .c-product__img {
            object-fit: none;

        }

        .c-product__name {
            font-size: 1.4rem;
            font-weight: 400;
            color: #333;
            align-self: center;
            border-bottom: 1px solid rgb(73, 73, 73);
            border-style: dotted;
            padding-left: 10px;

        }
    }
}
