.c-product {
    text-align: center;
    // position: relative;
    width: 100%;
    margin-top: 40px;
    width: 1120px;
    margin: 0 auto;


    .c-product__title {
        font-weight: 400;
        font-size: 4.6rem;
        color: #000;
        letter-spacing: 9.2px;
        margin-top: 60px;
        line-height: 40px;
    }

    .c-product__title--small {
        font-size: 2rem;
    }

    .c-product__list {
        display: flex;
        flex-wrap: wrap;
    }

    .c-product__item {
        width: calc((100% )/4);
        display: flex;
        justify-content: center;

        .c-product__img {
            object-fit: none;
        }

        .c-product__name {
            font-size: 1.4rem;
            font-weight: 400;
            color: #333;
            align-self: center;
            border-bottom: 1px solid #5e5e5e;
            border-style: dotted;
            padding-left: 10px;
        }
    }
}
