#c-point {
    width: 100%;
    background-color: #f5f4ed;
    margin-top: -22px;
    // padding-top: 78px;
    padding: 78px 15px 0;
    @include sp {
        padding-top: 0;

    }
}

.c-point__content {
    max-width: 112rem;
    margin: 0 auto;
    text-align: center;

    
}

.c-item__spdescription {
    display: none;
    @include sp {
        display: block;
        margin-left: -1px;
        letter-spacing: 0.3px;
        padding-top: 3px;
        text-align: left;
    }
}

.c-point__top {
    display: flex;
    gap: 30px;
    width: fit-content;
    padding-left: 164px;
    padding-bottom: 43px;

    .c-point__top--left {
        text-align: center;
        color: #000;
    }

    .c-point__top--right {
        max-width: 450px;
        font-size: 1.4rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 16px 4px 10px 1px;
        text-align: left;
 
    }

    .c-point__number {
        font-size: 7rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 4px;
        margin-top: -4px;


    }

    .c-point__text {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 400;
        position: relative;
        margin-top: -2px;
        margin-left: 1px;

        &::before {
            content: "";
            background: #000;
            position: absolute;
            top: -7.5px;
            left: 24%;
            right: 33%;
            height: 2px;
        }
        
    }

    .c-point__hastag {
        font-size: 5rem;
        font-weight: 400;
        vertical-align: top;
        margin-top: 3px;
        display: inline-block;
        margin-right: 4px;
        margin-left: -4px;
    }

    .c-point__title {
        font-size: 3.6rem;
        font-weight: 400;
        color: #176b6a;
        letter-spacing: 3.7px;
        margin-left: -2px;
        margin-bottom: 13px;          
    }

    .c-point__description {
        letter-spacing: 1.37px;
        line-height: 26px;

    }

    .c-point__description--fixspacing {
        letter-spacing: 1.5px;
    }
    @include sp {
        padding: 0 4px;
        gap: 14px;
        padding-top: 26px;
        align-items: flex-end;

        .c-point__hastag {
            font-size: 3rem;
        }

        .c-point__number {
            font-size: 4rem;
        }

        .c-point__text {
            font-size: 1.6rem;
            margin-left: -2px;

            &::before {
                left: 18%;
                right: 23%;
                
            }
        }

        .c-point__top--right{
               
        }

        .c-point__title {
            font-size: 2rem;
            letter-spacing: 2px;
        }

        .c-point__description {
            display: none;
        }

    }
}

.c-point__bottom {
    &:not(:last-child) {
        .c-point__list {
            margin-bottom: 86px;
        }
    }
    
    .c-point__list {
        display: flex;
        gap: 20px;
        padding: 0 45px;


    }

    .c-item__img {
        overflow: clip;
        overflow-clip-margin: content-box;
    }



    .c-point__item {
        border-radius: 30px;
        position: relative;
        overflow: hidden;


    }



    .c-point__iconmore {
        width: 26%;
        height: 28%;
        position: absolute;
        bottom: 6%;
        right: 6%;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }

    }




    .c-item__title {
        font-size: 2.4rem;
        font-weight: 400;
        color: #176b6a;
        margin-top: -6px;
        letter-spacing: 2.5px;



        &::before {
            content: "";
            background: #176b6a;
            position: absolute;
            top: 31.7%;
            left: 41%;
            right: 41%;
            height: 1px;
        }
    }

    .c-item__description {
        padding-top: 26px;
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
        line-height: 1.75;
            
    }

    .c-item__btn {
        display: block;
        margin-top: 30px;
        background: url("/assets/img/button_bg.png");
        text-align: center;
        padding: 8px 0;
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1.8px;
        margin-right: 2px;
        margin-left: 1px;
        cursor: pointer;
        transition: opacity 0.3s;


        &:hover {
            opacity: 0.7;
        }
    }

    .c-item__content {
        position: absolute;
        width: 88%;
        height: 88%;
        padding: 50px 45px;
        background-color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-radius: 26px;
        opacity: 0.8;
        pointer-events: none;
        transition: 0.3s;
        display: none;
         
    } 
    @include sp {
        &:not(:last-child) {
            .c-point__list {
                margin-bottom: 14px;
            }
        }

        .c-point__list {
            flex-direction: column;
            padding: 0;
            align-items: center;
        }

        .c-point__item {
            margin-top: 20px;
            border-radius: 15px;
            max-width: 315px;

            &:nth-child(2) {
                display: none;

                .c-item__spdescription {
                    padding-right: 20px;
                }
            }

            &:nth-child(3) {
                display: none;
            }
        }

        .c-item__content {
            padding: 57px 18px;
            border-radius: 13px;
            width: 90.2%;
            height: 90.5%;
        
        }

        .c-item__title {
            font-size: 1.6rem;

            &::before {
                top: 33.7%;
            }
        }

        .c-item__description {
            font-size: 1.3rem;
            padding-top: 43px;
            letter-spacing: 1.5px;
        }

        .c-item__btn {
            font-size: 1.3rem;
            font-size: 1.3rem;
            margin: 0 auto;
            width: fit-content;
            padding: 4px 6px;
            margin-top: 17px;
        }
    }
}

