#c-partner {
    background-color: #f5f4ed;
    width: 100%;
}

.c-partner__content {
    max-width: 112rem;
    margin: 0 auto;
    text-align: center;
}

.c-partner__title {
    font-size: 3rem;
    font-weight: 400;
    color: #176b6a;
    letter-spacing: 3px;
    padding-top: 104px;
    padding-bottom: 42px;
    padding-left: -12px;
    @include tab {
        font-size: 2.5rem;
    }
}

.c-partner__title--marginleft {
    margin-left: -12px;
}

.c-partner__list {
    display: flex;
    column-gap: 17px;
    row-gap: 25px;
    margin-left: 10px;
    margin-top: -1px;
    padding-bottom: 47px;


    .c-partner__item {
        display: block;
        width: calc((100% - 60px) /4);
        cursor: pointer;
        border-radius: 20px;
        @include sp {
            width: calc(50% - 25px);
        }
    }

    .c-partner__img {
        border-radius: 20px;

    }
        
}

.c-partner__name {
    color: #333;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1.3px;
    padding-bottom: 106px;
    padding-left: 9px;
}
@include sp {
    .c-partner__title {
        font-size: 1.8rem;
        padding: 33px 14px 21px;
        letter-spacing: 1.7px;
        line-height: 1.7;
    }

    .c-partner__title--marginleft {
        margin-left: 0;
    }

    .c-partner__list {
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 24px;
        column-gap: 0;
        margin-left: 0;
        margin-top: 0;
        padding-bottom: 45px;
        padding: 0 18px;

        .c-partner__item {
            border-radius: 10px;
        }

        .c-partner__img {
            border-radius: 10px;
    
        }
    }

    .c-partner__name {
        font-size: 1.3rem;
        font-size: 1.3rem;
        text-align: center;
        padding: 22px 11px 55px;
        line-height: 1.65;
        
    }
}
