#c-qa {
    width: 100%;
}

.c-qa__content {
    max-width: 1000px;
    margin: 0 auto;


    .c-qa__title {
        color: #176b6a;
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 4px;
        padding-top: 78px;

        
    }

    .c-questionlist {
        padding: 39px 65px 63px 70px;
    }

    .c-qa__questionitem {
        margin-top: 1px;

        &:not(:last-child) {
            padding-bottom: 47px;
            @include sp {
                padding-bottom: 23px;
            }
        }
    }

    .c-qa__question {
        color: #176b6a;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 1.3px;
        margin: -1px 0 0 -2p;
        display: flex;
        align-items: center;
    }

    .c-qa__answer {
        font-size: 1.4rem;
        font-weight: 400;
        color: #333;
        letter-spacing: 1.43px;
        padding-top: 5px;
        letter-spacing: 1.43px;
        margin-left: -1px;

    }

    .c-qa__qmark {
        position: relative;
        color: #333;
        font-size: 2.6rem;
        font-weight: 400;
        z-index: 100;
        margin-right: 15px;

        &::after {
            position: absolute;
            top: 58%;
            left: 54%;
            content: "";
            background: url("./assets/img/Qmark_bg.png") no-repeat;
            background-size: contain;
            width: 68px;
            height: 55px;
            transform: translate(-50%, -50%);
            background-position: center;
            pointer-events: none;
            z-index: -1;
        }
    }
    @include sp {
        .c-qa__title {
            font-size: 2rem;
            padding-top: 34px;
            letter-spacing: 2px;
            padding-bottom: 20px;
        }

        .c-questionlist {
            padding: 0 15px;
        }

        .c-qa__questionitem {
            &:not(:nth-child(-n+2)) {
                display: none;
            }
        }

        .c-qa__question {
            font-size: 1.3rem;
            text-align: left;
        }

        .c-qa__qmark {
            font-size: 1.8rem;
            width: 40px;
            height: 38px;
            margin-right: 10px;

            &::after {
                width: 44px;
                height: 55px;
            }
        }

        .c-qa__answer {
            padding-top: 8px;
            letter-spacing: 0.35px;
            line-height: 1.6;
        }
    }
}
