<%- include('_layouts/layout', { title: 'Mentha Oil' }); -%>

<!-- @meta -->
<meta name="description" content="Home page" >
<!-- @@meta -->
<!-- @content -->
<!-- LEAF SECTION -->
<div class="c-leaf">

  <img
  src="/assets/img/topleaf.png"
  alt="Top leaf"
  class="c-leaf__topleaf"
  >
  <img
  src="/assets/img/sideleaf.png"
  alt="Side leaf"
  class="c-leaf__sideleaf"
  >
</div>

<main class="p-top">
  <!-- MAINVISUAL SECTION -->
  <section id="c-mainvisual">
    <div class="c-bubblesection">
      <img src="/assets/img/bubble/top_left.png" alt="Bubble" class="c-bubble c-bubble__topleft">
      <img src="/assets/img/bubble/top_middle.png" alt="Bubble" class="c-bubble c-bubble__topmiddle">
      <img src="/assets/img/bubble/top_right.png" alt="Bubble" class="c-bubble c-bubble__topright">
      <img src="/assets/img/bubble/bottom_left.png" alt="Bubble" class="c-bubble c-bubble__bottomleft">
      <img src="/assets/img/bubble/bottom_middle.png" alt="Bubble" class="c-bubble c-bubble__bottommiddle">
      <img src="/assets/img/bubble/bottom_right.png" alt="Bubble" class="c-bubble c-bubble__bottomright">
    </div>
    <div class="l-container">

      <div class="c-mainvisual__inner">
        <picture>
              <source media="(min-width:768px)" srcset="/assets/img/bg_main.png">
              <img
              src="./assets/img/sp/bg-main-sp.png"
              alt="健栄製薬の ハッカ油  "
            >
        </picture>
        <div class="c-mainvisual__content">
          <h1 class="c-mainvisual__title">
            <picture>
              <source media="(min-width:768px)" srcset="/assets/img/mainvisual_title.png">
              <img
              src="./assets/img/sp/title.png"
              alt="健栄製薬の ハッカ油  "
            >
            </picture>
          </h1>
          <p class="c-mainvisual__text">
            ハッカ油は、毎日の暮らしを豊かにする
            <strong class="c-mainvisual__text--strong">魔法のしずく</strong>
          </p>
          <a class="c-mainvisual__btn"
            >ハッカ<span class="c-mainvisual__text--fixspacing1"> ？</span
            ><span class="c-mainvisual__text--fixspacing2">ミント？</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- PRODUCT SECTION -->
  <section id="c-product">
    <h1 class="c-product__title">
      <span class="c-product__title--small">使い方いろいろ </span><br>
      毎日にハッカ油
    </h1>
    <div class="c-product__list">
        <div class="c-product__item">
          <img
            src="/assets/img/product/bottle.png"
            alt="ハッカ水"
            class="c-product__img"
          >
          <div class="c-product__name">ハッカ水</div>
        </div>
        <div class="c-product__item">
          <img
            src="/assets/img/product/spray.png"
            alt="ハッカの虫除けスプレー"
            class="c-product__img"
          >
          <div class="c-product__name">ハッカの虫除けスプレー</div>
        </div>
        <div class="c-product__item">
          <img
            src="/assets/img/product/iron.png"
            alt="ハッカのリネンウォーター"
            class="c-product__img"
          >
          <div class="c-product__name">ハッカのリネンウォーター</div>
        </div>
        <div class="c-product__item">
        <img
          src="/assets/img/product/smaill_spray.png"
          alt="ハッカのエアフレッシュナー"
          class="c-product__img"
        >
        <div class="c-product__name">ハッカのエアフレッシュナー</div>
    </div>
    </div>  
    <div class="c-product__list--bottom"> 
      <div class="c-product__item">
        <img
          src="/assets/img/product/light.png"
          alt="ハッカの清涼スプレー"
          class="c-product__img"
        >
        <div class="c-product__name">ハッカの清涼スプレー</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/mask.png"
          alt="ハッカマスク"
          class="c-product__img"
        >
        <div class="c-product__name">ハッカマスク</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/pillow.png"
          alt="ハッカで安息"
          class="c-product__img"
        >
        <div class="c-product__name">ハッカで安息</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/bathtub.png"
          alt="ハッカの入浴剤"
          class="c-product__img"
        >
        <div class="c-product__name">ハッカの入浴剤</div>
      </div>
    </div>

  </section>
  <!-- POINT SECTION -->
  <section id="c-point">
    <div class="c-point__content">
    <% if (typeof linklists != 'undefined')  { %>
      <% pointdata.point && pointdata.point.forEach(data => { %>
        <div class="c-point__top">
          <div class="c-point__top--left">
            <div class="c-point__number"><span class="c-point__hastag">#</span><%= data.number %></div>
            <div class="c-point__text"><%= data.text %></div>
          </div>
          <div class="c-point__top--right">
            <h2 class="c-point__title"><%= data.title %></h2>
            <div class="c-point__description"><%= data.description1 %> 
              <p class="c-point__description--fixspacing"><%= data.description2%></p>
            </div>
         
          </div>
        </div>
        <p class="c-item__spdescription"><%= data.spdescription %></p>
        <div class="c-point__bottom">
          <div class="c-point__list">
            <% data.item_content && data.item_content.forEach(content => { %>
              <div class="c-point__item">
                <img src="<%=content.url %>" alt="<%=content.item_title %>" class="c-item__img">
                <img src="./assets/img/btn_more.png" alt="More Button" class="c-point__iconmore"> 
                    <div class="c-item__content">
                        <h3 class="c-item__title"><%=content.item_title %></h3>
                        <p class="c-item__description"><%=content.item_description %></p>
                        <a href="#" class="c-item__btn"><%=content.button%></a>
                    </div> 
              </div>
              <% }) %>  
          </div>
        </div>
        
      <% }) %>
    <% } %>
  </div>
  </section>
  <!-- PARTNER SECTION -->
  <section id="c-partner"> 
    <div class="c-partner__content">
    <% if (typeof partnerdata != 'undefined')  { %>
      <h2 class="c-partner__title"><%=partnerdata.title1 %> <span class="c-partner__title--marginleft"><%=partnerdata.title2 %></span> </h2>
      <div class="c-partner__list">
        <% partnerdata.partners.forEach(partner => { %>
          <a href="#" class="c-partner__item">
              <img src="<%=partner.url %>" alt="<%=partnerdata.title %>" class="c-partner__img">
          </a>
        <% })%>
      </div>
      <p class="c-partner__name"><%=partnerdata.name %></p>
    <% } %>
    </div>
  </section>
  <!-- Q&A SECTION -->
  <section id="c-qa">
    <div class="c-qa__content">
      <h2 class="c-qa__title">Q&A</h2>
      <div class="c-questionlist">
        <% if (typeof QAdata != 'undefined')  { %>
          <% QAdata.data && QAdata.data.forEach(data => { %>
            <dl class="c-qa__questionitem">
              <dt class="c-qa__question">
              <img src="./assets/img/sp/sp_qmark.png" alt="Q&A" class="c-qa__qmark">
              <p class="c-qa__mainquestion"><%=data.question %></p>
              </dt>
              <dd class="c-qa__answer"><%=data.answer%></dd>
          </dl>
          <% }) %>
          <% } %>
        </div>
    </div>
  </section>
  <!-- FEATURE SECTION -->
  <section id="c-feature">
    <div class="c-feature__content">
      <h2 class="c-feature__title"><span class="c-feature__title--small">日々の暮らしにお役立ち <br></span>「ハッカ油コラム」へ </h2>
      <% if (typeof QAdata != 'undefined')  { %>
        <div class="c-feature__list">
          <% featuredata.feature && featuredata.feature.forEach(feature => { %>
            <div class="c-feature__item">
              <div class="c-item__top">
                <div class="c-item__top--left">
                  <img src="<%=feature.img %>" alt="" class="c-item__img">
                  <span class="c-item__number"><%=feature.number%></span>
                </div>
                <div class="c-item__top--right">
                  <h3 class="c-item__title">
                    <span class="c-item__title--small"><%=feature.item_sub_title%></span>
                    <%=feature.item_main_title%>
                  </h3>
                </div>
              </div>
              <div class="c-item__description"><%=feature.description%></div>
              <img src="/assets/img/feature/arrow.png" alt="<%=feature.item_main_title%>" class="c-feature__arrow">
            </div>
          <% }) %>  
          </div>

      <% } %>
    </div>

  </section>
</main>
<!-- @@content -->
