<%- include('_layouts/layout', { title: 'MENTHA OIL' }); -%>

<meta name="description" content="Main page" >

<!-- @content -->
<!-- LEAF SECTION -->
<img
  src="/assets/img/topleaf.png"
  alt="Top leaf"
  class="c-leaf__topleaf"
>
<img
  src="/assets/img/sideleaf.png"
  alt="Side leaf"
  class="c-leaf__sideleaf"
>
<main class="l-maincontent">
  <!-- MAINVISUAL SECTION -->
  <section class="c-mainvisual">
    <div class="c-mainvisual__inner">
      <div class="c-mainvisual__content">
        <h1 class="c-mainvisual__title">
          <img
            src="/assets/img/mainvisual_title.png"
            alt="健栄製薬の ハッカ油  "
          />
        </h1>
        <p class="c-mainvisual__text">
          ハッカ油は、毎日の暮らしを豊かにする
          <strong class="c-mainvisual__text--strong">魔法のしずく</strong>
        </p>
        <a class="c-mainvisual__btn"
          >ハッカ<span class="c-mainvisual__text--fixspacing1"> ？</span
          ><span class="c-mainvisual__text--fixspacing2">ミント？</span>
        </a>
      </div>
    </div>
  </section>
  <!-- PRODUCT SECTION -->
  <section class="c-product">
    <h1 class="c-product__title">
      <span class="c-product__title--small">使い方いろいろ </span><br />
      毎日にハッカ油
    </h1>
    <div class="c-product__list">
      <div class="c-product__item">
        <img
          src="/assets/img/product/bottle.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/spray.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/iron.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/smaill_spray.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/light.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/mask.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/pillow.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
      <div class="c-product__item">
        <img
          src="/assets/img/product/bathtub.png"
          alt="ハッカ水"
          class="c-product__img"
        />
        <div class="c-product__name">ハッカ水</div>
      </div>
    </div>
  </section>
  <!-- POINT SECTION -->
  <section class="c-point">
    <div class="c-point__content">
    <% if (typeof linklists != 'undefined')  { %>
      <% pointdata.point && pointdata.point.forEach(data => { %>
        <div class="c-point__top">
          <div class="c-point__top--left">
            <div class="c-point__number"><span class="c-point__hastag">#</span><%= data.number %></div>
            <div class="c-point__text"><%= data.text %></div>
          </div>
          <div class="c-point__top--right">
          <div class="c-point__title"><%= data.title %></div>
          <div class="c-point__description"><%= data.description1 %> <p class="c-point__description--fixspacing"><%= data.description2%></p></div>
          </div>
        </div>
        <div class="c-point__bottom">
          <div class="c-point__list">
            <div class="c-point__more"></div>
            <div class="c-point__item">
              <div class="c-item__imgs">
                  <img src="<%=data.item_img1 %>" alt="<%=data.item_title %>" class="c-item__img">
                  <img src="<%=data.item_img2 %>" alt="<%=data.item_title %>" class="c-item__img">
                  <img src="<%=data.item_img3 %>" alt="<%=data.item_title %>" class="c-item__img">
              </div>

              <div class="c-item__title"></div>
              <div class="c-item__description"></div>
              <div class="c-item__btn"></div>
            </div>
          </div>
        </div>
      <% }) %>
    <% } %>
  </div>
  </section>
  <!-- PARTNER SECTION -->
  <section class="c-partner"> 
    <div class="c-partner__content">
    <% if (typeof partnerdata != 'undefined')  { %>
      <div class="c-partner__title"></div>
      <div class="c-partner__list">
        <div class="c-partner__item">
          <% partnerdata.partners.forEach(partner => { %>
            <img src="<%=partner.url %>" alt="" class="c-partner__img">
          <% })%>
        </div>
        <div class="c-partner__name"><%=partnerdata.name %></div>
      </div>
    <% } %>
    </div>
  </section>
  <!-- Q&A SECTION -->
  <section class="c-qa">
    <div class="c-qa__content">
      <h2 class="c-qa__title">Q&A</h2>
      <% if (typeof QAdata != 'undefined')  { %>
        <% QAdata.data && QAdata.data.forEach(data => { %>
          <dl class="c-qa__questionlist">
            <dt class="c-qa__question">
              <span class="c-qa__Qmark">Q</span>
              <%=data.question %>
            </dt>
            <dd class="c-qa__answer"><%=data.answer%></dd>
          </dl>
        <% }) %>
      <% } %>
    </div>
  </section>
  <!-- FEATURE SECTION -->
  <section class="c-feature">
    <div class="c-feature__content">
      <h2 class="c-feature__title"><span class="c-feature__title--small">日々の暮らしにお役立ち <br></span>「ハッカ油コラム」へ </h2>
      <% if (typeof QAdata != 'undefined')  { %>
        <div class="c-feature__list">
          <% featuredata.feature && featuredata.feature.forEach(feature => { %>
            <div class="c-feature__item">
              <div class="c-item__top">
                <div class="c-item__top--left">
                  <img src="<%=feature.img %>" alt="" class="c-item__img">
                  <span class="c-item__number"><%=feature.number%></span>
                </div>
                <div class="c-item__top--right">
                  <h3 class="c-item__title">
                    <span class="c-item__title--small"><%=feature.item_sub_title%></span>
                    <%=feature.item_main_title%>
                  </h3>
                </div>
              </div>
              <div class="c-item__description"><%=feature.description%></div>
            </div>
          <% }) %>  
          </div>

      <% } %>
    </div>

  </section>
  <!-- BANNER SECTION -->
  <div class="c-footerbanner"><img src="/assets/img/footer_banner.png" alt="Footer Banner"></div>
</main>
<!-- @@content -->
