<footer id="c-footer">
    <div class="c-footer__banner">
      <picture>
        <source srcset="./assets/img/sp/footer_spbanner.jpg" media="(max-width: 767px)">
        <img src="./assets/img/footer_banner.png" alt="LIVING INFORMATION" class="c-footer__banner">
      </picture>
      </div>
    <div class="c-footer__content">
      <h2 class="c-footer__text">
        商品に関するお問い合わせは <br>健栄製薬株式会社<br>TEL | 
        <span class="c-footer__phonenumber">06-6231-5626</span>　受付時間 | <span class="c-footer__worktime">8:45〜17:30(土日祝日を除く)</span>
      </h2>
      <div class="c-footer__logo">
        <img src="/assets/img/kenei_logo.png" alt="" class="c-footer__logoimg" >
        <p class="c-footer__copyright">©KENEI Pharmaceutical</p>
      </div>
  </div>
</footer>
