<header class="c-header">
  <nav class="c-header__nav">

      <% if (typeof linklists != 'undefined') { %>
        <ul class="c-nav__menu">
        <% linklists.main && linklists.main.forEach(link => { %>
            <li class="c-nav__item">
              <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
            </li>
            <% }) %>
        </ul>
      <% } %>

  </nav>
</header>
